<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <div class="navbar-brand">FSET Kassensystem</div>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/kassenanweisungen" data-toggle="dropdown">Kassenanweisungen</a>
        <ul class="dropdown-menu fade-up">
          <li><a class="dropdown-item" href="/kassenanweisungen?page=1&limit=10">anzeigen</a></li>
          <li><a class="dropdown-item" href="/">erstellen</a></li>
          <li><a class="dropdown-item" href="/kassenanweisungen/download">herunterladen</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/kassenpruefungen">Kassenprüfungen</a>
        <ul class="dropdown-menu fade-up">
          <li><a class="dropdown-item" href="/kassenpruefungen?page=1">anzeigen</a></li>
          <li><a class="dropdown-item" href="/kassenpruefungen/create">erstellen</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/jahresabschluss">Jahresabschluss</a>
        <ul class="dropdown-menu fade-up">
        {{#each Header_HHJ}}
          <li><a class="dropdown-item" href="{{createJahresabschlussPath Haushaltsjahr}}">{{Haushaltsjahr}}</a></li>
        {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</nav>