<div class="container abstand">
    {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show">
        <p>Kassenprüfung konnte nicht erstellt werden</p>
    </div>
    {{/if}}
    <h1 class="ueberschrift">Kassenpruefung erstellen</h1>
    <form action="/kassenpruefungen/create" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <div class="row abstand">
            <div class="col">
                <label for="date">Datum</label>
                <input type="date" class="form-control " name="date" id="date" value="{{Datum}}">
            </div>
            <div class="col">
                <label for="amount">Betrag am Ende des Tages</label>
                <input type="text" class="form-control " name="amount" id="amount" value="{{Betrag}}">
            </div>
            <div>
                <label for="geldanlage">Geldanlage</label>
                <select id="geldanlage" class="form-control" name="Geldanlage">
                    {{#each Geldanlagen}}
                    <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Speichern">
            </div>
        </div>
    </form>
    
</div>