
<!--
Form für für Kassenanweisung
Haushaltsjahr: Textfeld
Titelnr: Textfeld
Geldgeber: Textfeld
Begründung: Textarea
Betrag: Textfeld
Geldempfänger: Textfeld
Zahlungsart: Auswahl
Beleg: Textfeld
Ausstellungsdatum: Textfeld
Zahlungsdatum: Textfeld
-->

<div class="container abstand">
    <h1 class="ueberschrift">Neue Kassenanweisung erstellen</h1>
    <form action="/kassenanweisungen" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <div class="row abstand">
            <div class="col">
                <label for="haushaltsjahr">Haushaltsjahr(YY/YY): </label>
                <input type="text" class="form-control " name="Haushaltsjahr" id="haushaltsjahr" value="{{Haushaltsjahr}}">
            </div>
            <div class="col">
                <label for="titelnr">Titelnr: </label>
                <input type="text" class="form-control" name="Titelnr" id="titelnr" value="{{Titelnr}}" disabled>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label for="geldgeber">Geldgeber: </label>
                <input type="search" class="form-control " name="Geldgeber" id="geldgeber" autocorrect="off" autocomplete="off">
            </div>
            <div class="col">
                <label for="geldanlage_geldgeber">Geldanlage des Geldgebers: (Barkasse, Konto, ...)</label>
                <input type="text" class="form-control " name="Geldanlage_Geldgeber" id="geldanlage_geldgeber">
            </div>
            <div class="col">
                <label for="geldempfaenger">Geldempfänger: </label>
                <input type="text" class="form-control" name="Geldempfaenger" id="geldempfaenger">
            </div>
            <div class="col">
                <label for="geldanlage_geldempfaenger">Geldanlage des Geldempfängers: </label>
                <input type="text" class="form-control" name="Geldanlage_Geldempfaenger" id="geldanlage_geldempfaenger">
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label for="betrag">Betrag(Euro.Cent): </label>
                <input type="text" class="form-control" name="Betrag" id="betrag">
            </div>
            <div class="col">
                <label for="Zahlungsart" >Zahlungsart</label>
                <select name="Zahlungsart" class="custom-select" id="Zahlungsart">
                    <option value="Überweisung">Überweisung</option>
                    <option value="Bargeldeinzahlung">Bargeldeinzahlung</option>
                    <option value="Bargeldauszahlung">Bargeldauszahlung</option>
                    <option value="Münzgeldeinzahlung">Münzgeldeinzahlung</option>
                    <option value="Scheckeinreichung">Scheckeinreichung</option>
                    <option value="Tresoreinzahlung">Tresoreinzahlung</option>
                </select>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <div class="form-group">
                    <label for="begruendung">Begründung: </label>
                    <textarea class="form-control" rows="3" name="Begruendung" id="begruendung"></textarea>
                </div>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label  for="beleg">Beleg: </label>
                <select class="custom-select" name="Beleg" id="beleg">
                    <option value="Rechnung">Rechnung</option>
                    <option value="Quittung">Quittung</option>
                    <option value="Überweisungsbeleg">Überweisungsbeleg</option>
                </select>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label for="ausstellungsdatum">Ausstellungsdatum</label>
                <input type="date" class="form-control" name="Ausstellungsdatum" id="ausstellungsdatum">
            </div>
            <div class="col">
                <label for="zahlungsdatum">Zahlungsdatum</label>
                <input type="date" class="form-control" name="Zahlungsdatum" id="zahlungsdatum">
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Absenden">
                <input type="reset" class="btn btn-danger" value="Verwerfen">
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    const multiSelect = new IconicMultiSelect({
        select: "#beleg",
    });
    multiSelect.init();
</script>
<script type="text/javascript">
    const geldgeberAutocomplete = new autoComplete({
        placeHolder: "Tippen sie...",
        selector: "#geldgeber",
        data: { 
            src: ["Eins", "Zwei"],
            cache: true, 
        },
        threshold: 2,
        debounce: 100,
        resultsList: {
            class: "autocomplete_results",
            maxResults: 5,
        },
        resultItem: {
            highlight: true,
        },
        events: {
            input: {
                /** 
                    @param {Event} event
                */
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    geldgeberAutocomplete.input.value = selection;
                    if (!geldgeberAutocomplete.data.src.includes(event.detail.selection.value)) {
                        // Füge neuen Inhaber ein, er kann nun gesucht werden.
                        geldgeberAutocomplete.data.src.push(event.detail.selection.value)
                    }
                },
                /** 
                    @param {Event} event
                */
                results: (event) => {
                    console.log(JSON.stringify(event.detail))
                    let matchFound = false
                    event.detail.matches.forEach((matchObj) => {
                        let {match} = matchObj
                        let word = match.replace("<mark>", "");
                        word = word.replace("</mark>", "");
                        if (event.detail.query === word) {
                            console.log("Word: " + word);
                            matchFound = true
                        }
                    })
                    if (!matchFound) {
                        let firstMatch = {match: "Neuen Inhaber \""+event.detail.query+"\" erstellen", value: event.detail.query};
                        event.detail.matches.unshift(firstMatch);
                        //Immer an erster Stelle den Vorschlag einfügen, die aktuelle Query zu verwenden
                        event.detail.results.unshift(firstMatch);
                    }
                },
            }
        }
    });
</script>